
body{
background-image: url("https://icamme17.files.wordpress.com/2017/05/cropped-11853446063_32c7251cd9_b.jpg");
background-repeat: no-repeat;
background-size: cover;
font-family: serif;
font-size: 1.3em;
color: #gray;
text-align:center;


}
.box{
background-color: #132235;
height: 890px;
width: 40%;
float: inherit;
margin-left: 40px;
padding-left:20px;padding-right:20px;
}

#title{
text-align:center;
color:#1affa3;
}

.demoHeaders{
  color: #ffffff;
}
.form-submit-button {
  font-size: 20px;
  border:none;
  display:inline-block;padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
    background-color: #132235;
  text-align:center;
  cursor:pointer;
  white-space:nowrap
  opacity:0.3;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.form-submit-button:hover {
    background-color: white;
    color: black;
}
